$circle: #fcf003;
$circle--red: #ff3838;
$text__main: hsla(359, 9%, 17%, 100%);
$lines: hsla(359, 9%, 17%, 100%);
$button-border: hsla(359, 9%, 17%, 100%);
$button-text--hover: #f0f0f0;
$button-background--hover: #8c8c8c;
$background-colour: hsla(60, 0%, 94%, 100%);
