.button {
  font-family: "LeagueSpartan", sans-serif;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  &:hover {
    background: none;
    color: none;
  }
}

.button__notActive {
  visibility: hidden;
}
