//Layout for Form

.form {
  @include display-grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(4, 2fr);
  grid-gap: 0.5rem;
  z-index: 2;
  grid-row: 4/8;
  grid-column: 2/5;
}

.form-control {
  grid-row: 3 / span 1;
  grid-column: 1 / span 3;
  font-size: 1.5rem;
  padding: 0.6rem;
  justify-self: center;
  outline: none;
  border: none;
  text-align: center;
  background: rgb(255, 255, 255);
  border-radius: 0.2rem;
}

.button__form {
  justify-self: center;
  grid-row: 6;
  grid-column: 2 / span 1;
}
