//Layout for Form

.form {
  @include display-grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 0.5rem;
  grid-row: 4/8;
  grid-column: 2/5;
  margin: 0;
  position: 45%;
}

.form-control {
  grid-row: 6 / span 1;
  grid-column: 4 / span 3;
  font-size: 1.5rem;
  padding: 0.6rem;
  justify-self: center;
  outline: none;
  border: none;
  text-align: center;
  background: rgb(255, 255, 255);
  border-radius: 0.3rem;
}

.button__form {
  justify-self: center;
  align-self: center;
  grid-row: 7 / span 2;
  grid-column: 5 / span 2;
  background: #23316c;
  font-weight: 400;
  font-size: $font--medium;
}
