$font-path: "./fonts/SpaceGrotesk";
@font-face {
  src: url("#{$font-path}/SpaceGrotesk-Bold.woff") format("woff");
  src: url("#{$font-path}/SpaceGrotesk-Light.woff") format("woff");
  src: url("#{$font-path}/SpaceGrotesk-Medium.woff") format("woff");
  src: url("#{$font-path}/SpaceGrotesk-Regular.woff") format("woff");
  src: url("#{$font-path}/SpaceGrotesk-SemiBold.woff") format("woff");

  font-family: "SpaceGrotesk";
}

$font-path: "./fonts/Sniglet";
@font-face {
  src: url("#{$font-path}/Sniglet.woff") format("woff");
  font-family: "Sniglet";
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 h2 h3 h4 h5 h6 {
  margin: 0;
  font-family: "SpaceGroteskVar" sans-serif;
}

li {
  list-style: none;
  text-decoration: none;
  font-family: "Helvetica";
}

.title__App {
  font-family: "Sniglet", sans-serif;
}

$font--title: 4rem;

$font--small: 0.75rem;

$font--medium: 1.25rem;

$font--large: 2.5rem;
