* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input {
  outline: none;
  border: none;
  padding-top: 2rem;
  padding-left: 10rem;
}

h1 h2 h3 h4 h5 h6 {
  margin: 0;
  font-family: "Helvetica";
}

li {
  list-style: none;
  text-decoration: none;
}
