@mixin display-grid {
  display: -ms-grid;
  display: grid;
}
@mixin display-flex {
  display: -ms-flex;
  display: flex;
}

.container {
  @include display-grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 1.5%;
  margin: 0;
  width: auto;
  height: 100vh;
  background-color: hsla(60, 0%, 94%, 100%);
}

//@media small phone
@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1%;
  }
}

//Non-Form Buttons
.grid-child1 {
  grid-column: 5 / span 1;
  grid-row: 4 / span 1;
  z-index: 2;
}
@media only screen and (max-width: 600px) {
  .grid-child1 {
    grid-column: 2 / span 1;
    grid-row: 7 / span 1;
  }
}
.grid-child1--colour {
  background-color: hsla(60, 0%, 94%, 100%);
}
@media only screen and (max-width: 600px) {
  .grid-child2 {
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
    align-self: end;
  }
}

//Tournament Layout

.container__tournament {
  @include display-grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 1.5%;
  margin: 0;
  width: auto;
  height: 100vh;
  background: hsla(60, 0%, 94%, 100%);
}

.container__roster {
  @include display-flex;
  justify-content: space-between;
  flex-direction: column;
  grid-row: 2 / span 8;
  grid-column: 2 / span 2;
  align-self: center;
  justify-self: center;
}
.pairs {
  margin: 1rem 0 1rem 0;
}

.semi-final {
  grid-column: 4 / span 2;
}

.final {
  grid-column: 6 / span 2;
}

.nav-link {
  grid-column: 7/8;
  align-self: end;
}

.nav__tournament {
}
