@mixin display-grid {
  display: -ms-grid;
  display: grid;
}
@mixin display-flex {
  display: -ms-flex;
  display: flex;
}

.container {
  @include display-grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
  margin: 0;
  width: auto;
  height: 100vh;
}

.block__form {
  grid-column: 1/12;
  grid-row: 1/18;
  background: #ffa1ba;
}

.block__reset {
  grid-column: 12/17;
  grid-row: 1/5;
  background: #ffe661;
  font-weight: 500;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

.block__start {
  grid-column: 12/17;
  grid-row: 5/18;
  text-align: center;
  line-height: 20rem;

  color: white;
  background: #23316c;
  font-size: 2rem;
  border: none;
}

.block__animated {
  grid-column: 1/17;
  grid-row: 17/25;
  background: #ffa138;
}

.block__players {
  grid-column: 17/25;
  grid-row: 1/25;
  background: #ff3838;
}

//@media small phone

//Non-Form Buttons

//Tournament Layout

.container__tournament {
  @include display-grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 1.5%;
  margin: 0;
  width: auto;
  height: 100vh;
  background: hsla(60, 0%, 94%, 100%);
}

.container__roster {
  @include display-flex;
  justify-content: space-between;
  flex-direction: column;
  grid-row: 2 / span 8;
  grid-column: 2 / span 2;
  align-self: center;
  justify-self: center;
}
.pairs {
  margin: 1rem 0 1rem 0;
}

.semi-final {
  grid-column: 4 / span 2;
}

.final {
  grid-column: 6 / span 2;
}

.nav-link {
  grid-column: 7/8;
  align-self: end;
}

.nav__tournament {
}

.title__app__settings {
  grid-column: 2 / span 2;
  padding: 0.5rem;
}
.title__app__tournament {
  grid-column: 1 / span 2;
  padding: 0.5rem;
}

@mixin title__match {
  margin: 0;
  font-size: 2em;
  justify-self: center;
  align-self: center;
  font-family: "Sniglet", sans-serif;
}

.title__match1 {
  @include title__match;
  grid-row: 1 / span 3;
  grid-column: 1 / span 2;
}
.title__match2 {
  @include title__match;
  grid-row: 4 / span 1;
  grid-column: 1 / span 2;
}
.title__match3 {
  @include title__match;
  grid-row: 6 / span 2;
  grid-column: 1 / span 2;
}
.title__match4 {
  @include title__match;
  grid-row: 8 / span 2;
  grid-column: 1 / span 2;
}
