@mixin display-grid {
  display: -ms-grid;
  display: grid;
}
@mixin display-flex {
  display: -ms-flex;
  display: flex;
}

.container {
  @include display-grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
  margin: 0;
  width: auto;
  height: 100vh;
}

.block__form {
  grid-column: 1/12;
  grid-row: 1/18;
  background: #ffa1ba;
  -webkit-box-shadow: 13px 0px 18px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 13px 0px 18px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 13px 0px 18px -11px rgba(0, 0, 0, 0.75);
}

.block__reset {
  grid-column: 11/17;
  grid-row: 1/6;
  background: #ffe661;
  font-weight: 500;
  font-size: 5rem;
  line-height: 100%;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: -15px 20px 18px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -15px 20px 18px -11px rgba(0, 0, 0, 0.75);
  box-shadow: -15px 20px 18px -11px rgba(0, 0, 0, 0.75);
}
.block__start {
  grid-column: 11/17;
  grid-row: 5/18;
  text-align: center;
  line-height: 600%;
  color: white;
  background: #23316c;
  font-size: 5rem;
  border: none;
  -webkit-box-shadow: -15px 6px 18px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -15px 6px 18px -11px rgba(0, 0, 0, 0.75);
  box-shadow: -15px 6px 18px -11px rgba(0, 0, 0, 0.75);
}

.block__animated {
  grid-column: 1/17;
  grid-row: 17/26;
  background: #ffa138;
  -webkit-box-shadow: 1px -14px 10px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -14px 10px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -14px 10px -11px rgba(0, 0, 0, 0.75);
}

.block__players {
  grid-column: 17/26;
  grid-row: 1/26;
  background: #ff3838;
  -webkit-box-shadow: -10px 1px 11px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -10px 1px 11px -11px rgba(0, 0, 0, 0.75);
  box-shadow: -10px 1px 11px -11px rgba(0, 0, 0, 0.75);
}
