//Layout

.container__tournament {
  @include display-grid;
  grid-template-columns: repeat(28, 1fr);
  grid-template-rows: repeat(12, 1fr);
  margin: 0;
  width: auto;
  height: 100vh;
}

//Match Blocks

.block__round-one {
  @include display-flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  width: auto;
  height: 100vh;
  grid-column: 1 / span 13;
  grid-row: 1/11;
  background: #ffa1ba;
}

.block__semi {
  grid-column: 14 / span 9;
  grid-row: 1/13;
  background: #f57698;
  -webkit-box-shadow: -10px 1px 11px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -10px 1px 11px -11px rgba(0, 0, 0, 0.75);
  box-shadow: -10px 1px 11px -11px rgba(0, 0, 0, 0.75);
}

.block__final {
  grid-column: 23 / span 6;
  grid-row: 1/13;
  background: #fa3d70;
  -webkit-box-shadow: -10px 1px 11px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -10px 1px 11px -11px rgba(0, 0, 0, 0.75);
  box-shadow: -10px 1px 11px -11px rgba(0, 0, 0, 0.75);
}

.block__reset__tournament {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
  background: #ffe661;
  font-weight: 500;
  padding: 1rem;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  z-index: 4;
  position: relative;
}

.round-one__match {
}
