.container__roster {
  justify-content: center;
}

button.player {
  &:hover {
    border: 0.03rem black solid;
  }
  &:focus {
    background: black;
    border: 0.03rem black solid;
  }
}

li.container__roster__list {
  display: block;
}

.title__player {
  padding: 0.5rem 0 0.5rem 0;
}

.title__tournament {
  margin: 0;
  font-size: 2.5em;
  grid-row: 1;
  grid-column: 4 / span 3;
  font-family: "Sniglet", sans-serif;
}
.pairs {
  padding: 0.25rem;
  margin: 1rem 0 1rem 0;
}

.player {
  border: none;
  background: none;
  display: block;
  font-size: 1.5rem;
  font-family: "Helvetica", sans-serif;
}

.title__player {
  font-family: "Helvetica", sans-serif;
}
